<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qing.core.mapper.MenuMapper">

    <resultMap id="BaseResultMap" type="com.qing.core.entity.Menu">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="sort" column="sort" jdbcType="INTEGER"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="path" column="path" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="CHAR"/>
            <result property="state" column="state" jdbcType="TINYINT"/>
            <result property="perms" column="perms" jdbcType="VARCHAR"/>
            <result property="visible" column="visible" jdbcType="TINYINT"/>
            <result property="icon" column="icon" jdbcType="VARCHAR"/>
            <result property="activeMenu" column="active_menu" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="createBy" column="create_by" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,parent_id,name,
        sort,url,path,
        type,state,perms,
        visible,icon,active_menu,
        remark,create_by,create_time,
        update_by,update_time,is_delete
    </sql>
</mapper>
